1.project_zero/src/main/mule/1.project_zero.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e10f5b87-875c-4968-9cb2-da9d81d3ce61" doc:description="HTTP configuration for http listener" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="1.project_zeroFlow" doc:id="b93f5e99-21cf-4d94-bf8e-4442d12d0c49" >
		<http:listener doc:name="Listener" doc:id="19ccf465-27f0-41bc-843a-186f88f4f182" config-ref="HTTP_Listener_config" path="/project-zero" allowedMethods="GET">
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="7f356cb7-87df-48e1-bd67-ddeca5449bc7" message='"START Log"'/>
		<set-payload value='#["Hello World From set payload"]' doc:name="Set Payload" doc:id="0522f2d5-0b8e-49e6-9e15-d18da5c33771" />
	</flow>
</mule>
